// variables //
$baseGrid: 12;
$gridPadding: 10px;


// flexbox grid model //

//initiate flexbox model
.flexGrid {
  display: flex; 
  > .col {
    flex-grow: 1;
    padding: $gridPadding;
  }
}

//flexbox-grid
@for $i from 1 through $baseGrid {
  .col#{$i} {
    flex-basis: (100 / $i + 0% );
    max-width: (100 / $i + 0% );
  }
}


// css grid model //
