//flexbox-grid-columns
@for $i from 1 through $baseGrid {
  .o-col-#{$i}, %o-col-#{$i} {
    flex-basis: (100 * $i + 0%);
    max-width: ($i / $baseGrid * 100 + 0%);
    position: relative;
  }
}

//media query Up
@include smUp {
  @for $i from 1 through $baseGrid {
    .o-col-smUp-#{$i}, %o-col-smUp-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include mdUp {
  @for $i from 1 through $baseGrid {
    .o-col-mdUp-#{$i}, %o-col-mdUp-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include lgUp {
  @for $i from 1 through $baseGrid {
    .o-col-lgUp-#{$i}, %o-col-lgUp-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
//media query down
@include smDown {
  @for $i from 1 through $baseGrid {
    .o-col-smDown-#{$i}, %o-col-smDown-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include mdDown {
  @for $i from 1 through $baseGrid {
    .o-col-mdDown-#{$i}, %o-col-mdDown-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include lgDown {
  @for $i from 1 through $baseGrid {
    .o-col-lgDown-#{$i}, o-col-lgDown-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}