//orientation position helper classes
$flexPosOptions: center, space-around, space-between, space-evenly, flex-start, flex-end;
$flexDirectionOptions: column, row, column-reverse, row-reverse;

//flex direction
@each $param in $flexDirectionOptions {
  .flex-direction__#{$param} {
    flex-direction: $param;
  }
} 

//flex basis modifier
.o-flex {
  .u-col--basis-content {
    flex-basis: 1;
  }
}

//flex-position
@each $param in $flexPosOptions {
  .x-#{$param} {
    justify-content: $param;
  }
  .y-#{$param} {
    align-items: $param;
  }
}
@each $param in $flexPosOptions {
  @include smUp {
    .x-sm-#{$param} {
      justify-content: $param;
    }
    .y-sm-#{$param} {
      align-items: $param;
    }
  }
}
@each $param in $flexPosOptions {
  @include mdUp {
    .x-md-#{$param} {
      justify-content: $param;
    }
    .y-md-#{$param} {
      align-items: $param;
    }
  }
}
@each $param in $flexPosOptions {
  @include lgUp {
    .x-lg-#{$param} {
      justify-content: $param;
    }
    .y-lg-#{$param} {
      align-items: $param;
    }
  }
}

@mixin x-($orientationParam) {
  justify-content: $orientationParam;
}
@mixin x-sm-($orientationParam) {
  @include smUp {
    justify-content: $orientationParam;
  }
}
@mixin x-md-($orientationParam) {
  @include mdUp {
    justify-content: $orientationParam;
  }
}
@mixin x-lg-($orientationParam) {
  @include lgUp {
    justify-content: $orientationParam;
  }
}



@mixin y($orientationParam) {
  align-items: $orientationParam;
}
@mixin y-sm-($orientationParam) {
  @include smUp {
    align-items: $orientationParam;
  }
}
@mixin y-md-($orientationParam) {
  @include mdUp {
    align-items: $orientationParam;
  }
}
@mixin y-lg-($orientationParam) {
  @include lgUp {
    align-items: $orientationParam;
  }
}
