// ////////// css grid model ////////// //
.cssGrid {
  display: grid;
  grid-template-columns: $gridBaseTemplateColumns;
  grid-gap: $gridPadding;
}


//make span grid column classes
@for $i from 1 through $gridBaseNumber {
  
  $spanVar: $i;
  
  //generate all span classes
  .colSpan#{$i} {
    grid-column: span $spanVar;
    
  }
  
  //within the span loop create all offset loops for each span option
  @for $i from 1 through $gridBaseNumber {
    .colSpan#{$i}_colOffset#{$spanVar} {
      grid-column: $i #{'/'} span $spanVar;
    }
  }
}

//make span grid row classes
@for $i from 1 through $gridBaseNumber {
  .rowSpan#{$i} {
    grid-row: span $i;
  }
}
