// ////////// gugus grid wrappinator ////////// //
@mixin wrapSizer($innerOuterModifier: 2) {
  max-width: $baseWrapSize;
  padding: 0 $gridPadding;
  margin: 0 auto;
  @include smUp {
    padding: 0 $gridPadding * $innerOuterModifier;
  }
}

.o-wrapper {
  display: block;
  position: relative;
  &.o-full-wrapper {
    @include lgUp {
      max-width: $baseWrapSize;
      padding: 0 $gridPadding;
      margin: 0 auto;
    }
  }
  &.o-outer-wrapper {
    @include wrapSizer;
  }
  &.o-inner-wrapper {
    @include wrapSizer(10);
  }
}