//initiate flexbox model
.flexGrid {
  display: flex; 
  position: relative;
  flex-wrap: wrap;
  > .col {
    flex-grow: 1;
    padding: $gridPadding;
  }
  > [class*="col"] {
    padding: $gridPadding;
  }
}

//flexbox row grids
@for $i from 1 through $baseGrid {
  .rowCol#{$i} > [class="col"] {
    flex-basis: (100 / $i + 0% );
    max-width: (100 / $i + 0% );
  }
}
@include smUp {
  @for $i from 1 through $baseGrid {
    .rowColSm#{$i} > [class="col"] {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}
@include mdUp {
  @for $i from 1 through $baseGrid {
    .rowColMd#{$i} > [class="col"] {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}
@include lgUp {
  @for $i from 1 through $baseGrid {
    .rowColLg#{$i} > [class="col"] {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}

//flexbox-grids
@for $i from 1 through $baseGrid {
  .col#{$i} {
    flex-basis: (100 / $i + 0% );
    max-width: (100 / $i + 0% );
  }
}
@include smUp {
  @for $i from 1 through $baseGrid {
    .colSm#{$i} {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}
@include mdUp {
  @for $i from 1 through $baseGrid {
    .colMd#{$i} {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}
@include lgUp {
  @for $i from 1 through $baseGrid {
    .colMd#{$i} {
      flex-basis: (100 / $i + 0% );
      max-width: (100 / $i + 0% );
    }
  }
}