//initiate flexbox model
.o-flex {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-right: -$gridPadding;
  margin-left: -$gridPadding;
  > * {
    padding: $gridPadding / 2;
  }
  > .o-col {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
  }
  //flexbox row grids
  @for $i from 1 through $baseGrid {
    &.o-row--col__#{$i} > [class="o-col"] {
      flex-basis: (100 / $i + 0%);
      max-width: (100 / $i + 0%);
    }
  }
  @include smUp {
    @for $i from 1 through $baseGrid {
      &.o-row--col__sm-#{$i} > [class="o-col"] {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
      }
    }
  }
  @include mdUp {
    @for $i from 1 through $baseGrid {
      &.o-row--col__md-#{$i} > [class="o-col"] {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
      }
    }
  }
  @include lgUp {
    @for $i from 1 through $baseGrid {
      &.o-row--col__lg-#{$i} > [class="o-col"] {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
      }
    }
  }

  //flexbox-grid-columns
  @for $i from 1 through $baseGrid {
    .o-col--#{$i} {
      flex-basis: (100 / $i + 0%);
      max-width: (100 / $i + 0%);
      position: relative;
    }
  }
  @include smUp {
    @for $i from 1 through $baseGrid {
      .o-col--sm--#{$i} {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
        position: relative;
      }
    }
  }
  @include mdUp {
    @for $i from 1 through $baseGrid {
      .col__md#{$i} {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
        position: relative;
      }
    }
  }
  @include lgUp {
    @for $i from 1 through $baseGrid {
      .col__lg#{$i} {
        flex-basis: (100 / $i + 0%);
        max-width: (100 / $i + 0%);
        position: relative;
      }
    }
  }
}