// ////////// gugus grid wrappinator ////////// //
@mixin wrapSizer($innerOuterModifier: 2) {
  max-width: $baseWrapSize;
  margin: 0 auto;
  @include sm__up {
    padding: 0 $gridGap * $innerOuterModifier;
  }
}

.o-wrapper {
  display: block;
  position: relative;
  &.o-full-wrapper {
    @include lg__up {
      max-width: $baseWrapSize;
      margin: 0 auto;
    }
  }
  &.o-outer-wrapper {
    @include wrapSizer;
  }
  &.o-inner-wrapper {
    @include wrapSizer(10);
  }
}