//flexbox-grid-columns
@for $i from 1 through $baseGrid {
  .o-col-#{$i}, %o-col-#{$i} {
    flex-basis: (100 * $i + 0%);
    max-width: ($i / $baseGrid * 100 + 0%);
    position: relative;
  }
}

//media query Up
@include sm__up {
  @for $i from 1 through $baseGrid {
    .o-col-sm__up-#{$i}, %o-col-sm__up-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include md__up {
  @for $i from 1 through $baseGrid {
    .o-col-md__up-#{$i}, %o-col-md__up-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include lg__up {
  @for $i from 1 through $baseGrid {
    .o-col-lg__up-#{$i}, %o-col-lg__up-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
//media query down
@include sm__down {
  @for $i from 1 through $baseGrid {
    .o-col-sm__down-#{$i}, %o-col-sm__down-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include md__down {
  @for $i from 1 through $baseGrid {
    .o-col-md__down-#{$i}, %o-col-md__down-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}
@include lg__down {
  @for $i from 1 through $baseGrid {
    .o-col-lg__down-#{$i}, o-col-lg__down-#{$i} {
      flex-basis: ($i / $baseGrid * 100 + 0%);
      max-width: ($i / $baseGrid * 100 + 0%);
      position: relative;
    }
  }
}