@import url("https://rsms.me/inter/inter.css");
@import url("gugusGrid");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  *,
  *::before,
  *::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
              box-sizing: inherit;
  }

body {
  padding: 0;
  margin: 0;
  background: #262626;
}
@mixin e-before() {
  &:before {
    content: attr(data-class-name);
    position: absolute;
    font-size: 10px;
    top: -15px;
  }
}
h1, h2, h4, p, body {
  font-family: "Inter var", sans-serif;
  color: #e8e8e8;
  margin: 0;
}
code.inline.hljs {
  display: inline;
}
.demo {
  border-radius: 5px;
  border-bottom: 4px dashed #e8e8e8;
  margin-bottom: 20px;
  padding-bottom: 20px;
  pre code {
    margin-bottom: 40px;
    border-radius: 5px;
  }
  .o-flex {
    margin: 20px 0;
  }
  .o-flex, .yourOwnClass, .cssGrid {
    padding: 20px;
    outline: 1px dashed pink;
    @include e-before;
    > * {
      outline: dotted 1px yellow;
    }
  }
  [class^="o-col"] {
    @include e-before;
  }
}

.yourOwnClass {
  @extend .o-flex;
  .helloImaLayoutFlexboxClass {
    // @extend %o-col;
  }
}