@import url("https://rsms.me/inter/inter.css");
@import "gugusGrid";

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

$bgColor: #e8e8e8;
$txtColor: black;
$txtInvert: green;
$beforeColor: white;

$flexColor: #9097fb;
$colColor: #f5d8ba;

.shadow {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.37);
}

body {
  padding: 0;
  margin: 0;
  background: $bgColor;
}
@mixin e-before() {
  &:before {
    content: attr(data-class-name);
    position: absolute;
    font-size: 10px;
    top: -15px;
    color: $beforeColor;
    background: $txtColor;
    padding: 3px;
  }
}
h1,
h2,
h4,
p,
body {
  font-family: "Inter var", sans-serif;
  color: $txtColor;
  margin: 0;
}
code.inline.hljs {
  display: inline;
}
pre code {
  margin-bottom: 40px;
  border-radius: 5px;
}
footer {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.o-flex {
}
.demo > .o-flex {
  padding: 20px;
  margin: 20px 0;
  background-color: $flexColor;
  @extend .shadow;
  @include e-before;
  > * {
    background-color: $colColor;
    @extend .shadow;
    outline: 1px solid $bgColor;
  }
}
.colorWrap {
  background-color: $txtColor;
  margin-top: 50px;
  padding: 50px;
  p, a {
    color: $txtInvert;
  }
}
[data-class-name] {
  @include e-before;
}
.reference {
  background-color: #fff;
  margin-top: 20px;
  > div {
    border-bottom: 1px solid #000;
  }
}